<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper" >
        <!--<p  style="font-size:14px; font-style:oblique;">{{- site.description -}}</p>
	  
		
	  <div align="center" >
	{%- include social.html -%}
	  </div>
	-->		  
	  <div align="center">
    <h2  style="font-size: 12px; color: lightgrey">&#9400;2020 {{ site.title | escape }} | Bijay Kumar Pun</h2>
	  </div>
	  <div align="center">
		  <h2 style="font-size: 12px; color; lightgrey">Wordpress theme by Ashley Kar</h2>
	  </div>
	  </div>
</footer>
