---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


Latest posts
  {%- if site.posts.size > 0 -%}
    <ul style="list-style: none;" > 
      {%- for post in site.posts limit:5 -%}
      <li>
	      <a href="{{ post.url | relative_url }}" style="color:green;">
            {{ post.title | escape }}
          </a>
    <p>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta" style="margin: 0px; padding: 0px;">{{ post.date | date: date_format }}</span>
	<div>


	</div>      
      </li>
      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}



  Find me elsewhere
  <div style="display: flex;flex-direction:row; justify-content: center;">


    <div>
      <a href="https://www.github.com/bijaykumarpun" target="_blank">
      <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
    width="60" height="60" style="margin: 0px 30px 30px 30px;"/>
    </a>
    </div>
    <a href="https://www.linkedin.com/in/bijaykumarpun" target="_blank">
    <img src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg"
    width="55" height="55" style="margin: 0px 30px 30px 30px; padding: 5px;"/>
  </a>

    <div>
  
    </div>
  </div>

</div>
